[submodule "deps/kazsignal"]
	path = deps/kazsignal
	url = https://github.com/Kazade/kazsignal.git
[submodule "deps/kazlog"]
	path = deps/kazlog
	url = https://github.com/Kazade/kazlog.git
[submodule "deps/jsonic"]
	path = deps/jsonic
	url = https://Kazade@gitlab.com/Kazade/jsonic.git
[submodule "deps/kfs"]
	path = deps/kfs
	url = https://github.com/Kazade/kfs.git
[submodule "deps/bounce"]
	path = deps/bounce
	url = https://github.com/Kazade/bounce.git
[submodule "assets"]
	path = assets
	url = https://github.com/Kazade/simulant-assets.git
