*~
*/Makefile
*/CMakeFiles*
*cmake_install*
build/*
dbuild*
pbuild*
tests/main.cpp
tests/main-dc.cpp
tests/main-psp.cpp
*.swp
.ycm_extra_conf.py*
*.user
\.android*
dc-build.sh
.autosave
.cxx
.gradle
.vscode
gradle/*/build/*
.buildconfig
.flatpak-builder
platform/android/openal/openal-soft*
platform/android/openal/oboe*
.cache
dcbuild
dbuild
pbuild
abuild
wbuild
builda
dcnative
evbuild

