[submodule "kglt/kazbase"]
	path = kglt/kazbase
	url = https://github.com/Kazade/kazbase.git
[submodule "deps/kazsignal"]
	path = deps/kazsignal
	url = git@github.com:Kazade/kazsignal.git
[submodule "deps/qu3e"]
	path = deps/qu3e
	url = git@github.com:Kazade/qu3e.git
[submodule "deps/kazmath"]
	path = deps/kazmath
	url = git@github.com:Kazade/kazmath.git
