Source: libkglt-dev
Priority: optional
Section: libs
Maintainer: Luke Benstead (Kazade) <kazade@gmail.com>
Build-Depends: dpkg (>= 1.13.2), debhelper (>= 4.0), cmake (>= 2), libfreetype6-dev, libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libsdl1.2-dev
Standards-Version: 3.9.1

Package: libkglt-dev
Architecture: any
Section: libdevel
Description: An OpenGL powered graphics toolkit
 An OpenGL powered graphics toolkit that makes it easy to create
 2D and 3D scenes in C++. KGLT is backed by OpenGL and SDL to remain
 portable.
